canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

Button{
    border: 10px solid;
    border-radius: 30px;
    background-color:rgb(238, 178, 12);
    left: 45%;
    position: absolute;
    width: 280px;
    height: 110px;
    font-size: 40px;
    top: 17%;
    border-color:orange ;
    color: greenyellow;
}