canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

Button{
    border: 10px solid;
    border-radius: 30px;
    background-color:rgb(238, 178, 12);
    width: 250px;
    height: 110px;
    position: absolute;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 40px;
    border-color:orange;
    color: rgb(194, 236, 6);
}

#StartButton{
    top:250px;
}

#SettingButton{
    top: 480px;
}