canvas {
    border: 2px solid black;
    border-radius: 20px;
    display: block;
    background-image: url("images/background.png");
}

.menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.title {
    font-family: fantasy;
    font-size: 70px;
    color: yellow;
    line-height: 0px;
    margin-top: 120px;
}

.subtitle {
    position: relative;
    left: 150px;
    font-family: fantasy;
    font-size: 30px;
    font-style: oblique;
    color: yellow;
    line-height: 20px;
}

.rectButton {
    width: 220px;
    height: 75px;
    border: 10px solid orange;
    border-radius: 20px;
    background-color: rgb(240, 180, 15);
    font-size: 28px;
    color: rgb(200, 240, 0);
}

.button {
    position: absolute;
    left: 840px;
    top: 20px;
    width: 40px;
    height: 40px;
    background-color: #FFF0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    z-index: 1;
}

.paragraph {
    white-space: pre-line;
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    padding: 30px;
    margin: 60px;
    background-image: url(images/textbox.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

#instructionText {
    font-family: fantasy;
    font-size: 30px;
    color: yellow;
    line-height: 20px;
}

#energyBar {
    position: absolute;
    left: 80px;
    top: 40px;
    height: 10px;
    width: 240px;
}

#energyIcon {
    position: absolute;
    left: 30px;
    top: 30px;
}

#pauseText {
    font-family: Impact;
    font-size: 60px;
    color: yellow;
    line-height: 20px;
    margin-top: 180px;
}

#scoreText {
    font-family: fantasy;
    font-size: 40px;
    color: yellow;
    line-height: 20px;
    margin-bottom: 70px;
}