canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

Button{
    border: 10px solid;
    border-radius: 30px;
    background-color:rgb(238, 178, 12);
    width: 250px;
    height: 110px;
    position: absolute;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 40px;
    border-color:orange;
    color: rgb(194, 236, 6);
}

#StartButton{
    top:250px;
}

#SettingButton{
    top: 480px;
}
#HighestScore{
    position:absolute;
    left:50%;
    transform: translate(-300px,30px);
    color: indigo;
    font-family: fantasy;
}
#Score{
    position: absolute;
    left:50%;
    transform: translate(-300px,16px);
    font-family: fantasy;
    color: rgb(50, 56, 141);
}
#Energy{
    position: absolute;
    height: 10px;
    width:300px;
    left: 42%;
    transform:translate(-50%,-590px);
}